#header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 2.5rem;
}
.logo img{
    width: 120px;
}
.links-container{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 70%;
}

.links-container nav ul{
   display: flex;
   gap: 3rem;
   list-style-type: none;
   margin-right: 2rem;

}


.hash-link{
    text-decoration: none;
    color: #fff;
}

.links-container nav ul li{
 padding: .4rem 1.5rem;
 font-size: 1.2rem;
 cursor: pointer;

}

.links-container nav ul li:hover{
   color: #0081B4;
   transition: all .5s ease;
}

.btn-resume button{
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
   margin-right: 1rem;
   border-radius: 5px;
   background: #e43d0a;
   cursor: pointer;
   
}
.burger-menu{
    display: none;
}

/*-----------------media queries------------------*/

/* Small screens (phones) */
@media only screen and (max-width: 600px) {
    #header{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        position: relative;
    
    }
    .logo img{
        width: 80px;
        padding: 10px;
        position: relative;
       z-index: 5;

       
    }
  
  
    .links-container{
     display: none;

   }
   .burger-menu{
    display: block;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: #242424;
    z-index: 0;
   
   }
   .burger{
  
    padding: 10px;
    align-self: flex-end;
    
}

  
   
   .mobile-nav nav ul{
     list-style-type: none;
     text-decoration: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1rem;
   }
   .btn-mobile button{ 
      padding: .5rem 1rem;
      margin-left: 3rem;
   }


  }
  
  /* Medium screens (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo img{
         width: 100px;
    }
    
    .links-container nav ul{
        gap: 0rem;
     }

     .links-container nav ul li{
        padding: .6rem 1rem;
        font-size: 1.2rem;
       
       }

       .btn-resume button{
        padding: .6rem 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        border: none;
       margin-right: 1rem;
       border-radius: 5px;
       background: #e43d0a;
       
    
       
    }

  }
  
  /* Large screens (desktops) */
  @media only screen and (min-width: 1025px) {
   
  }